input {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;	
 }

h2.title{
	margin-left: 3%;
}

section#userData{
	margin-top: 30px;
	margin-left: 15%;
	float: left;
	width: 25%;
	height: 700px;
}

.fundoForm{
	background-color: #F3F3F3;
}

section#addressData{
	margin-top: 30px;
	margin-left: 5%;
	float: left;
	width: 20%;
	height: 700px;
}

.formSection{
	border-color: #BFBFC0;
	border-style: double;
	padding: 25px;
}


.tblLeft{
	padding-top: 10px;
}

.tblRight{
	padding-bottom: 10px;	
}

.error input {
	border-color: red;
}

.error-data {
	color: red;
	font-size: 11px;
}

