/*
* CMS HTML Template v 1.2
*
*/
ul#menucms {
	width:270px;
	border-right:1px solid white;
	background:white;
	margin:0;
	padding:0;
	list-style-type:none;
}
ul#menucms li {
	border-bottom:1px solid gray;
	/*border-right: 1px solid #003399;*/
}
ul#menucms li a:link, ul#menucms li a:visited {
	display:block;
	height:1%;
	text-decoration:none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#5E0F50;
	border-left:10px solid #EEC591;
	padding-left:5px;
	padding-top: 10px;
	height: 42px;
}
ul#menucms li a:hover {
	background-color: #FFE4B5;
	color:#DAA520;
	border-left:10px solid #FFD39B;
}
.first{
	font-family: serif;
	font-size: x-large;
}


.cmscontent{
	border: 1px solid gray;
	background: white;
	height: 903px;
	width: 989px;
	margin-top: -906px;
	margin-left: 271px;
}

.cmslogin{
	height: 400px;
}



.cmscontent h3{
	font-size: 30px;
}

#messageList {
	margin-top: -75px;
	margin-left: 129px;
}

#messageSearch {
	margin-top: -75px;
	margin-left: 258px;
}
.errorMessage{
	font-size: 15px;
}
#bottomcms{
	height: 117px;
	position: relative;
	z-index: 10;
	background: #2a2d30 url(../img/header-glow.png) top center no-repeat;
}	